spring:
  datasource:
    url: ${DB_URL}?reWriteBatchedInserts=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true
        generate_statistics: false

  flyway:
    schemas: public
    locations: classpath:db/migration

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  task:
    scheduling:
      enabled: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

jwt:
  secret: ${JWT_SECRET}
  tokens:
    ACCESS:
      expiration: ${JWT_ACCESS_EXPIRATION}
    REFRESH:
      expiration: ${JWT_REFRESH_EXPIRATION}
    SIGNUP:
      expiration: ${JWT_SIGNUP_EXPIRATION}

logging:
  level:
    org.hibernate.SQL: off
    org.hibernate.type: off

management:
  endpoints:
    web:
      exposure:
        include: caches

cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET}
    cloudfront:
      domain: ${CDN_DOMAIN}
